<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    body {margin:0;}

    .icon-bar {
      width: 100%;
      background-color: #555;
      position: fixed;
      overflow: auto;
    }

    .icon-bar a {
      float: left;
      width: 20%;
      text-align: center;
      padding: 12px 0;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
    }

    .icon-bar a:hover {
      background-color: #4CAF50;
    }

    .active {
      background-color: #4CAF50;
    }
  i.material-icons {
    font-size: 30px;
    color: #fff;
    height: 30px;
    width: 30px;
    margin: auto;
    display: block;
  }

  p {
    text-align: center;
    color: #fff;
    margin: auto;
    height: 30px;
    font-size: 22px;
    font-family: 'Abel', sans-serif;
  }
input[type="text"]
{
    font-size:18px;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>@TITLE@</title>
</head>
<script type="text/javascript">
    function count() {
        alert(
        'Zeichengenauigkeit: '+(document.querySelectorAll('input[value="ok"]:checked').length*100 / (document.querySelectorAll('input[type="radio"]:checked').length-document.querySelectorAll('input[value="tnmi"]:checked').length))+"%\n"+
        'Status: '+(document.querySelectorAll('input[type="radio"]:checked').length-document.querySelectorAll('input[value="tnmi"]:checked').length)+"/"+(document.querySelectorAll('input[value="ok"]').length-document.querySelectorAll('input[value="tnmi"]:checked').length)+"\n"+
        'Ok: '+document.querySelectorAll('input[value="ok"]:checked').length+"\n"+
        'Falsch: '+document.querySelectorAll('input[value="false"]:checked').length+"\n"+
        'Verschoben: '+document.querySelectorAll('input[value="misplaced"]:checked').length+"\n"+
        'Diakritischer Fehler: '+document.querySelectorAll('input[value="diacritic"]:checked').length+"\n"+
        'Fehlt: '+document.querySelectorAll('input[value="missing"]:checked').length+"\n"+
        'Text & Bild Fehler: '+document.querySelectorAll('input[value="tnmi"]:checked').length+"\n");
    }

    function convertToCSV(objArray) {
        var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
        var str = '';

        for (var i = 0; i < array.length; i++) {
            var line = '';
            for (var index in array[i]) {
                if (line != '') line += ','

                line += array[i][index];
            }

            str += line + '\r\n';
        }

        return str;
    }

    function exportCSVFile(headers, items, fileTitle) {
        if (headers) {
            items.unshift(headers);
        }

        // Convert Object to JSON
        var jsonObject = JSON.stringify(items);

        var csv = this.convertToCSV(jsonObject);

        var exportedFilenmae = fileTitle + '.csv' || 'export.csv';

        var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
        if (navigator.msSaveBlob) { // IE 10+
            navigator.msSaveBlob(blob, exportedFilenmae);
        } else {
            var link = document.createElement("a");
            if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", exportedFilenmae);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    }

    function download(kind){
      if (kind == 'all'){
        var fileTitle = 'Gesamtergebnis'; 
        var headers = {
            error: 'Fehlerart'.replace(/,/g, ''), // remove commas to avoid errors
            rate: "Fehlerrate"
        };
        
        itemsFormatted = [
            {
                error: 'Zeichengenauigkeit',
                rate: (document.querySelectorAll('input[value="ok"]:checked').length*100 / (document.querySelectorAll('input[value="ok"]').length-document.querySelectorAll('input[value="tnmi"]:checked').length))
            },
            {
                error: 'Gesamt',
                rate: (document.querySelectorAll('input[type="radio"]:checked').length-document.querySelectorAll('input[value="tnmi"]:checked').length)
            },
            {
                error: 'Ok',
                rate: (document.querySelectorAll('input[value="ok"]:checked').length)
            },
            {
                error: 'Falsch',
                rate: (document.querySelectorAll('input[value="false"]:checked').length)
            },
            {
                error: 'Verschoben',
                rate: (document.querySelectorAll('input[value="misplaced"]:checked').length)
            },
            {
                error: 'Diakritische Fehler',
                rate: (document.querySelectorAll('input[value="diacritic"]:checked').length)
            },
            {
                error: 'Fehlt',
                rate: (document.querySelectorAll('input[value="missing"]:checked').length)
            },
            {
                error: 'Text & Bild Fehler',
                rate: (document.querySelectorAll('input[value="tnmi"]:checked').length)
            }    
        ];
       }else{
        var fileTitle = 'Einzelergebnisse';
        var headers = {
            Year: "Year",
            Page: "Page",
            Line: "Line", 
            Char: "Char",
            Value:  "Value",
            Result: "Result"
        };
        itemsFormatted = [];
        document.querySelectorAll('input[type="radio"]:checked').forEach((item) => {
            infoarr = item.name.split("_"),
            itemsFormatted.push(  
            {
                Year: infoarr[0],
                Page: infoarr[1],
                Line: infoarr[2], 
                Char: infoarr[3],
                Value: infoarr[4],
                Result: item.value
            }
            );
         }
         )
       } 
      exportCSVFile(headers, itemsFormatted, fileTitle); // call the exportCSVFile() function to process the JSON and trigger the download
    }
</script>
<div class="icon-bar">
  <a class="active" style='background: #333'>
  <p>Bernoulli Trials</p>
  <p>Aktienführer 1823-1955</p>
  </a>
  <a onclick="return count()" style='color: #fff'>
  <i class="material-icons">insert_chart</i><p>Counts</p>
  </a>
  <a>
  <div class="download-wrapper" onClick="download('all')">
  <p><i class="material-icons">file_download</i></p><p>Export Gesamtergebnis</p>
  </div>
  </a>
  <a>
  <div class="download-wrapper" onClick="download('single')">
  <p><i class="material-icons">file_download</i></p><p>Export Einzelergebnisse</p>
  </div>
  </a>
</div>
</br></br></br></br>